.grid{
    height: 300px;
    width: 50%;
    text-align: center;
}

.test{
    text-align: center;
}
.grid_container{
    display: grid;

    grid-template-columns : 1fr 1fr;
}

@media screen and (max-width:768px) {
    .grid_container{
        grid-template-columns : 3fr 1fr;
        grid-row: inherit;

    }
    
}